html, body {
  overflow: hidden;
}

p {
  font-family: 'EB Garamond', serif;
  color: black;
}

section {
  padding: 0 !important;
}

.container {
  max-width: 34em;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

a:active,
a:visited {
  color: black;
}

#logo {
  padding-bottom: 0;
  max-width: 32em;
}

#logo img {
  display: block;
  width: 100%;
  height: auto;
}

#blurb {
  padding-top: 0;
}

#ethos {
  text-align: right;
  padding-top: 0;
  padding-bottom: .75rem;
  padding-left: .75rem;
  padding-right: .75rem;
}

#rights {
  font-size: .75rem;
  text-align: center;
}

.h3-space {
  text-align: left;
  margin-top: 15px;
  padding-top: 0px;
}

@media (62em <= width) {
  .container {
    max-width: 34em;
  }
  .h3-space {
    font-size: 1.2em;
  }
}

@media (width <= 62em) {
  .container {
    margin-top: 7.5em !important;
    max-width: 28em;
  }
}
